@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background text-foreground;
	}

	:root {
		--background: #f7f3f7;
		--foreground: #1e1e1e;

		--primary: #1e1e1e;
		--primary-foreground: #e7e5e5;

		--secondary: #e7e5e5;
		--secondary-foreground: #1e1e1e;

		--muted: #c7c4c4;
		--muted-foreground: #5f5f5f;

		--accent: #292f4b;
		--accent-foreground: #f7f3f7;

		--destructive: #cc3333;
		--destructive-foreground: #f7f3f7;
	}

	.dark {
		--background: #1e1e1e;
		--foreground: #f7f3f7;

		--primary: #e7e5e5;
		--primary-foreground: #1e1e1e;

		--secondary: #1e1e1e;
		--secondary-foreground: #e7e5e5;

		--muted: #5f5f5f;
		--muted-foreground: #c7c4c4;

		--accent: #292f4b;
		--accent-foreground: #f7f3f7;

		--destructive: #f7f3f7;
		--destructive-foreground: #cc3333;
	}
}

.button {
	color: var(--foreground);
	box-shadow: 0 0 2px 0px var(--foreground);
	border-radius: 9999px;
	padding: 0.5rem;
	font-weight: 700;
}

.button:hover {
	background-color: var(--muted);
}

.avatar {
	color: var(--foreground);
	box-shadow: 0 0 2px 0px var(--foreground);
	border-radius: 9999px;
}
