@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background text-foreground;
	}

	:root {
		--background: #f7f3f7;
		--foreground: #1e1e1e;

		--card: #e7e5e5;
		--card-foreground: #1e1e1e;

		--primary: #1e1e1e;
		--primary-foreground: #e7e5e5;

		--secondary: #e7e5e5;
		--secondary-foreground: #1e1e1e;

		--accent: #292f4b;
		--accent-foreground: #f7f3f7;

		--muted: #c7c4c4;
		--muted-foreground: #5f5f5f;

		--destructive: #cc3333;
		--destructive-foreground: #f7f3f7;
	}

	.dark {
		--background: #1e1e1e;
		--foreground: #f7f3f7;

		--card: #252525;
		--card-foreground: #f7f3f7;

		--primary: #e7e5e5;
		--primary-foreground: #1e1e1e;

		--secondary: #1e1e1e;
		--secondary-foreground: #e7e5e5;

		--accent: #292f4b;
		--accent-foreground: #f7f3f7;

		--muted: #5f5f5f;
		--muted-foreground: #c7c4c4;

		--destructive: #cc3333;
		--destructive-foreground: #f7f3f7;
	}
}

.button {
	box-shadow: 1px 0px 4px 0px var(--muted);
	padding: 0.5rem;
	border-radius: 0.5rem;
	text-align: center;
	font-weight: 700;
}

.button:hover {
	opacity: 0.5;
}

.avatar {
	box-shadow: 1px 0px 4px 0px var(--muted);
	border-radius: 100%;
}